<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchEverything.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchEverything.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SearchEverything.Properties.Settings>
            <setting name="PathMappings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string># each line contains a mapping between a local ETP server filepath and the filepath the user sees.</string>
                        <string># Format is: &lt;ETPUri&gt;;&lt;serverpath&gt;;&lt;userpath&gt;</string>
                        <string># matching is done "first found", so the order matters</string>
                        <string># username and password can be ommited from the URIs</string>
                        <string />
                        <string>etp://vsvr1:21/;F:\Usr\Pilz\;G:\</string>
                        <string>etp://vsvr1:21/;F:\Usr\Software\;I:\</string>
                        <string>etp://vsvr1:21/;F:\Usr\UserHome\;J:\</string>
                        <string>etp://vsvr1:21/;F:\Usr\NCHomag\;H:\</string>
                        <string>#etp://vsvr1:21/;F:\UsrSys\Buchhaltungsbackup\;R:\</string>
                        <string>#etp://vsvr1:21021/;F:\Administration\;\\vsvr1\Administration\</string>
                        <string />
                        <string>#etp://vsvr1:21021/;F:\UsrSys\Buchhaltungsbackup\;R:\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HideNonMappedFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideInaccessible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string># each line starting with etp:// is interpreted as a connection-URI </string>
                        <string># for a SearchEverything ETP server</string>
                        <string># Uri is in the form etp://[(&lt;username&gt;|&lt;username&gt;:&lt;password&gt;)@]&lt;hostname_or_ip&gt;[:&lt;port&gt;]/</string>
                        <string># this Uri must also be used in the PathMappings</string>
                        <string />
                        <string>etp://etp@vsvr1:21/</string>
                        <string>#etp://etp:etp@vsvr1:21021/</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SearchEverything.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SearchEverything.Properties.Settings>
            <setting name="MatchWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxResultsPerServer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ShowRealIcons" serializeAs="String">
                <value>True</value>
            </setting>
        </SearchEverything.Properties.Settings>
    </userSettings>
</configuration>